body {
    background-color: #83BD93;
}

.img-top-animal {
    padding-top: 10px;
    width: 100%;
    max-height: 500px;
}


.figure-caption {
    background-color: #00261ccc;
    border-radius: 20px;
    color: #eefaec;
    width: fit-content;
    padding: 5px 8px;
    display: block;
    position: absolute;
    bottom: 1%;
    left: 1%;
    font-size: 1.2rem;
} 

.figure {
    position: relative;
    float: left;
}


#carousel img {
    max-height: 530px;
}


.carousel-caption {
    background-color: #00261ccc;
    border-radius: 20px;
    color: #eefaec;
}

/* Carousel blur effect */

.img-container::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 5px 5px 10px 10px #83BD93 inset;
    max-height: 600px;
}


h1, h2, h3, h4, h5 {
    font-family: 'Darumadrop One', 'Arial', 'Sans-serif';
}

h2 {
    padding-left: 10px;
    padding-bottom: 10px;
}

h2, h3 {
    color: #044D29;
    text-shadow: 2px 2px #eefaec;
}

p {
    font-family: 'Helvetica';
    font-size: 1.1rem;
}


.card img {
    max-height: 200px;
}

.falcon-img {
    border-radius: 50%;
    opacity: 75%;
    max-width: 250px;
}

.navbar, .arc-footer {
    -webkit-box-shadow: inset 0px -4px 25px 1px rgba(185,236,193,1);
    -moz-box-shadow: inset 0px -4px 25px 1px rgba(185,236,193,1);
    box-shadow: inset 0px -4px 25px 1px rgba(185,236,193,1);
}

.nav-item, .nav-link {
    padding: 0 20px !important;
    font-size: 1.1em;
    font-family: 'Hind Madurai', 'Sans-serif';
}

.card-habitat .card-title {
    font-size: 1.4em;
    background-color: rgba(0, 38, 28, 0.8);
    border-radius: 20px;
    padding: 5px 15px; 
    text-align: center;
    width: fit-content;
    float: right; 
}

#habitat-overview .card {
    margin-bottom: 0 !important; 
}



.service-img {
    max-width: 200px;
    box-shadow: 2px 2px #044D29;
    border-radius: 50%;
}
